.card{
  .card-action{
    color: #ffffff;
  }
  .delete{
    position: absolute;
    right: 1%;
    top: 3%;
    cursor: pointer;
  }
  .edit{
    position: absolute;
    right: 15%;
    top: 3%;
    cursor: pointer;
    @media only screen and (max-width: 768px){
      right: 10%;
    }
  }
}
